.main-style{
  max-width: 800px;
  max-height: 1200px;
}
.content{
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
.content_card{
  background-color: yellow;
  width: 100%;
  height: 100vh;
  
}
.clastransition{
  transition: all, 3s;
 
}

.card_play{
  background-color: red;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.point_card{
  background: lightblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.read-the-docs {
  color: #888;
}
.imgcard{
  width: 53vh;
  height: 70vh;;
}

.card-fade {
  opacity: 0;
  animation: fadeIn 7s ease forwards;
}


.pespective-card{
  perspective: 1000px;
  perspective-origin: center;
}


.card {
  width: 100px;
  height: 140px;
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px;
}

.move-card {
  transform: translateY(-30px);
  background-color: red;
}

.card {
  transition: transform 0.4s ease;
}

.move-card-x{
  transform: translateX(-190px);
}

.move-card-xpositive{
  transform: translateX(190px);
}

.move-card-xpositivefinish{
  transform: translateX(570px);
}
.move-card-ypositivefinish{
  transform: translateY(-190px);
}

.move-card {
  transform: translateY(-20px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

